asttokens==3.0.0
black==23.12.1
cfgv==3.4.0
click==8.1.8
colorama==0.4.6
decorator==5.2.1
distlib==0.3.9
executing==2.2.0
filelock==3.18.0
identify==2.6.9
ipython-pygments-lexers==1.1.1
ipython==9.1.0
isort==5.13.2
jedi==0.19.2
jsonpickle==4.0.5
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mypy-extensions==1.0.0
nodeenv==1.9.1
numpy==2.2.4
orjson==3.10.16
packaging==24.2
pandas==2.2.3
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
platformdirs==4.3.7
pre-commit==3.8.0
prompt-toolkit==3.0.50
prosperity3bt==0.5.0
ptyprocess==0.7.0
pure-eval==0.2.3
pygments==2.19.1
pyright==1.1.398
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.2
rich==14.0.0
ruff==0.0.252
shellingham==1.5.4
six==1.17.0
stack-data==0.6.3
tqdm==4.67.1
traitlets==5.14.3
typer==0.15.2
typing-extensions==4.13.1
tzdata==2025.2
virtualenv==20.30.0
wcwidth==0.2.13
